In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/bank-customer-churn-prediction/Churn_Modelling.csv

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv("/kaggle/input/bank-customer-churn-prediction/Churn_Modelling.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(['RowNumber'],axis = 1,inplace = True)

In [6]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
df= df.join(pd.get_dummies(df['Geography'], prefix= 'Geo').astype('int'))

In [8]:
df.drop(['Geography'], axis=1, inplace= True)

In [9]:
df.head()

,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geo_France,Geo_Germany,Geo_Spain
0,15634602,Hargrave,619,Female,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,15647311,Hill,608,Female,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,15619304,Onio,502,Female,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,15701354,Boni,699,Female,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,15737888,Mitchell,850,Female,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [10]:
df['Gender']= df['Gender'].astype('str').apply(lambda x: 1 if x=='Female' else 0)

In [11]:
df['Gender'].value_counts()

Gender
0    5457
1    4543
Name: count, dtype: int64

In [12]:
df.columns

Index(['CustomerId', 'Surname', 'CreditScore', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited', 'Geo_France', 'Geo_Germany', 'Geo_Spain'],
      dtype='object')

In [13]:
df= df[['CustomerId', 'Surname', 'CreditScore', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Geo_France', 'Geo_Germany', 'Geo_Spain', 'Exited']]
df.head()

,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geo_France,Geo_Germany,Geo_Spain,Exited
0,15634602,Hargrave,619,1,42,2,0.00,1,1,1,101348.88,1,0,0,1
1,15647311,Hill,608,1,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,15619304,Onio,502,1,42,8,159660.80,3,1,0,113931.57,1,0,0,1
3,15701354,Boni,699,1,39,1,0.00,2,0,0,93826.63,1,0,0,0
4,15737888,Mitchell,850,1,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          10000 non-null  object
 2   CreditScore      10000 non-null  int64
 3   Gender           10000 non-null  int64
 4   Age              10000 non-null  int64
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Geo_France       10000 non-null  int64
 12  Geo_Germany      10000 non-null  int64
 13  Geo_Spain        10000 non-null  int64
 14  Exited           10000 non-null  int64
dtypes: float64(2), int64(12), object(1)
memory usage: 1.1+ MB

In [15]:
df.duplicated().sum()

0

In [16]:
df[['CreditScore', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Geo_France', 'Geo_Germany', 'Geo_Spain', 'Exited']].corr().style.background_gradient(cmap='coolwarm')

In [17]:
X= df[['CreditScore', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Geo_France', 'Geo_Germany', 'Geo_Spain']]
y= df['Exited']

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import  train_test_split
sc= StandardScaler()
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2)
X_train_scld= sc.fit_transform(X_train)
X_test_scld= sc.transform(X_test)

In [21]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression()
lr.fit(X_train_scld, y_train)
y_pred_lr= lr.predict(X_test_scld)
y_pred_lr

array([0, 0, 0, ..., 1, 0, 0])

In [22]:
from sklearn.metrics import accuracy_score
acc_lr= accuracy_score(y_test, y_pred_lr)
acc_lr

0.806

We Got a Accuracy of 81%

In [23]:
from sklearn.metrics import confusion_matrix
cm= pd.DataFrame(confusion_matrix(y_test, y_pred_lr))
cm

      0   1
0  1531  68
1   320  81

In [24]:
#RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier(n_estimators=100, criterion='gini')
rfc.fit(X_train_scld, y_train)
y_pred_rfc= rfc.predict(X_test_scld)
y_pred_rfc

array([0, 0, 0, ..., 0, 0, 0])

In [25]:
from sklearn.metrics import accuracy_score
acc_rfc= accuracy_score(y_test, y_pred_rfc)
acc_rfc

0.871

Now we Got a Accuracy of 87%

In [26]:
from sklearn.metrics import confusion_matrix
cm_rfc= confusion_matrix(y_test, y_pred_rfc)
cm_rfc= pd.DataFrame(cm_rfc)
cm_rfc

      0    1
0  1538   61
1   197  204

Random forest worked well for this Job.